.register__wrapper {
  width: 448px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  padding: 0px 24px;
}

.register__logo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.register__form {
  background-color: #f5f5f5;
  padding: 32px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  -webkit-box-shadow: 11px 6px 9px -3px rgba(136, 136, 136, 1);
  -moz-box-shadow: 11px 6px 9px -3px rgba(136, 136, 136, 1);
  box-shadow: 11px 6px 9px -3px rgba(136, 136, 136, 1);
}
.register__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 10px;
}
.register__form input {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  padding-left: 16px;
  border-bottom: 1px solid #ff4800;
}


.register__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 0px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  transition: background-color 0.5s ease;
  background-color: #ff4800;
  cursor: pointer;
}
.register__button:focus {
  color: black;
  background-color: white;
}

.register__description {
  text-align: center;
}
.register__description a {
  color: #fc4747;
  text-decoration: none;
}
.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
